body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f5f5f5;
	overflow: hidden;
}

#app {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

header {
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
	background-color: rgba(255, 255, 255, 0);
	/* box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.095); */
	padding: 8px 16px;
	overflow: hidden;
	box-sizing: border-box;
}

aside {
	background-color: #fff;
	position: fixed;
	top: 55px;
	left: 0;
	bottom: 0px;
	z-index: 1;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin-top: -56px;
	padding: 4rem;
	/* padding-left: 50px; */
	/* padding-right: 50px;	 */
}

aside h2 {
	font-weight: 300;
	color: #afafaf;
}

.slide-enter-active,
.slide-leave-active {
	transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter,
.slide-leave-active {
	left: -100%;
}

.avatar {
	border-radius: 1000px;
	/*make circle*/
	box-shadow: 0 0 15px #666;
	width: 150px;
	height: 150px;
}

.center {
	display: flex;
	justify-content: center;
	/* align horizontal */
}

.block {
	margin-top: 56px;
	margin-bottom: 56px;
}

.ion-university,
.ion-code-working,
.ion-beer {
	font-size: 56px;
}

.align-right {
	display: flex;
	justify-content: right;
}

.align-left {
	display: flex;
	justify-content: left;
}

.sidebar-item {
	margin-bottom: 30px;
}

#sidebar-items {
	text-align: center;
	position: relative;
	align-items: center;
}

a {
	color: black;
}

#main,
#sidebar {
	transition: width 1s ease, margin 1s ease;
}

.example-7-color-preview {
	display: inline-block;
	width: 50px;
	height: 50px;
}