body {
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	font-family: "Arial";
	color: rgb(52, 52, 52);
}

.navigation {
	line-height: 2;
	text-align: left;
	padding-left: 100px;	
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: lighter;
	background-color: rgb(52, 52, 52);
	position: fixed;
	width: 1920px;
	height: 30px;
	margin-bottom: 30px;
}	

.header {
	font-size: 14px;
	font-family: "Arial";
	color: rgba(0, 0, 0, 90);
	padding: 20px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.92);
}

#info {
	padding-top: 75px;
	height: 270px;
}

#infoavatar {
	border-radius: 1000px; /*make circle*/
	box-shadow: 0 0 15px #666; 
	margin-left: 100px;
}

#infotext {
	text-align: left;
	padding-left: 400px;	
	margin-top: -200px;
	font-weight: lighter;
}

.about {
	text-align: left;
	padding-left: 200px;	
	font-weight: lighter;
}

#interests {
	padding-left: 750px;
	margin-top: -75px;
	font-weight: lighter;
	line-height: 2;
	text-align: left;
}

#about {
	padding: 100px;
}

footer {
	width: 100%;
	height: 170px;
	background: #1e1b1c;
	color: rgba(255, 255, 255, 0.78);
	overflow: hidden;
}

 #contacts {
	width: 300px;
	padding-left: 100px;
	padding-top: 30px;
	overflow: hidden;	 
}

.contact {
	padding-bottom: 10px;
}
.space {
	padding-right: 10px;
}